{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="main-content">
    <h2>My Applications</h2>

    <table>
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Experience</th>
            <th>Status</th>
        </tr>

        {% for job in jobs %}
        <tr>
            <td>{{ job.company }}</td>
            <td>{{ job.role }}</td>
            <td>{{ job.experience }}</td>
            <td>{{ job.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>