body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #111827;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

/* MAIN */
.main-content {
    flex: 1;
    padding: 20px;
    background: #f3f4f6;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.span{
    font-size: 18px;
    font-weight: bold;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* TABLE */
.table-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* STATUS COLORS */
.pending { color: orange; }
.interview { color: blue; }
.offer { color: green; }
.rejected { color: red; }